<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>

                    <div class="row">
                        <div class="col-md-2"><label>First Name</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text" class="form-control">
                                <!-- 
                                    - invalid: trả về true nếu giá trị hiện tại của control không hợp lệ theo các rules đã được thiết lập 
                                    + dirty: Trả về true nếu người dùng đã thay đổi giá trị của form control.
                                    + touched: Trả về true nếu người dùng đã tương tác với form control.
                                    => Điều kiện dirty || touched kiểm tra xem người dùng đã làm thay đổi giá trị 
                                    hoặc đã tương tác với form control hay chưa.
                                -->
                                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                                    class="my-2">
                                    <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']"
                                        class="text-danger" style="font-size: 14px;">
                                        First Name is required
                                    </div>
                                    <div *ngIf="firstName?.errors?.['minlength']" class="text-danger"
                                        style="font-size: 14px;">
                                        First Name must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Last Name</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text" class="form-control">
                                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="my-1">
                                    <div *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhitespace']"
                                        class="text-danger" style="font-size: 14px;">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="lastName?.errors?.['minlength']" class="text-danger"
                                        style="font-size: 14px;">
                                        Last Name must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Email</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text" class="form-control">
                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="my-1">
                                    <div *ngIf="email?.errors?.['required'] || email?.errors?.['notOnlyWhitespace']"
                                        class="text-danger" style="font-size: 14px;">
                                        Email is required
                                    </div>
                                    <div *ngIf="email?.errors?.['pattern']" class="text-danger"
                                        style="font-size: 14px;">
                                        Email must be a valid email address format
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Shipping Address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Country</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')"
                                    class="form-select">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>
                                <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)"
                                    class="my-2">
                                    <div *ngIf="shippingAddressCountry?.errors?.['required']" class="text-danger"
                                        style="font-size: 14px;">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Street</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text" class="form-control">
                                <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)"
                                    class="my-2">
                                    <div *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhitespace']"
                                        class="text-danger" style="font-size: 14px;">
                                        Street is required
                                    </div>
                                    <div *ngIf="shippingAddressStreet?.errors?.['minlength']" class="text-danger"
                                        style="font-size: 14px;">
                                        Street must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>City</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text" class="form-control">
                                <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)"
                                    class="my-2">
                                    <div *ngIf="shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhitespace']"
                                        class="text-danger" style="font-size: 14px;">
                                        City is required
                                    </div>
                                    <div *ngIf="shippingAddressCity?.errors?.['minlength']" class="text-danger"
                                        style="font-size: 14px;">
                                        City must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>State</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" class="form-select">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>
                                <div *ngIf="shippingAddressState?.invalid && (shippingAddressState?.dirty || shippingAddressState?.touched)"
                                    class="my-2">
                                    <div *ngIf="shippingAddressState?.errors?.['required']" class="text-danger"
                                        style="font-size: 14px;">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Zip Code</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipcode" type="text" class="form-control">
                                <div *ngIf="shippingAddressZipcode?.invalid && (shippingAddressZipcode?.dirty || shippingAddressZipcode?.touched)"
                                    class="my-2">
                                    <div *ngIf="shippingAddressZipcode?.errors?.['required'] || shippingAddressZipcode?.errors?.['notOnlyWhitespace']"
                                        class="text-danger" style="font-size: 14px;">
                                        Zip Code is required
                                    </div>
                                    <div *ngIf="shippingAddressZipcode?.errors?.['minlength']" class="text-danger"
                                        style="font-size: 14px;">
                                        Zip Code must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add check box to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>

                <!-- Billing Address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Country</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')"
                                    class="form-select">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>
                                <div *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)"
                                    class="my-2">
                                    <div *ngIf="billingAddressCountry?.errors?.['required']" class="text-danger"
                                        style="font-size: 14px;">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Street</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text" class="form-control">
                                <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)"
                                    class="my-2">
                                    <div *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhitespace']"
                                        class="text-danger" style="font-size: 14px;">
                                        Street is required
                                    </div>
                                    <div *ngIf="billingAddressStreet?.errors?.['minlength']" class="text-danger"
                                        style="font-size: 14px;">
                                        Street must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>City</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text" class="form-control">
                                <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)"
                                    class="my-2">
                                    <div *ngIf="billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhitespace']"
                                        class="text-danger" style="font-size: 14px;">
                                        City is required
                                    </div>
                                    <div *ngIf="billingAddressCity?.errors?.['minlength']" class="text-danger"
                                        style="font-size: 14px;">
                                        City must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>State</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" class="form-select">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>
                                <div *ngIf="billingAddressState?.invalid && (billingAddressState?.dirty || billingAddressState?.touched)"
                                    class="my-2">
                                    <div *ngIf="billingAddressState?.errors?.['required']" class="text-danger"
                                        style="font-size: 14px;">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Zip Code</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipcode" type="text" class="form-control">
                                <div *ngIf="billingAddressZipcode?.invalid && (billingAddressZipcode?.dirty || billingAddressZipcode?.touched)"
                                    class="my-2">
                                    <div *ngIf="billingAddressZipcode?.errors?.['required'] || billingAddressZipcode?.errors?.['notOnlyWhitespace']"
                                        class="text-danger" style="font-size: 14px;">
                                        Zip Code is required
                                    </div>
                                    <div *ngIf="billingAddressZipcode?.errors?.['minlength']" class="text-danger"
                                        style="font-size: 14px;">
                                        Zip Code must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Credit Card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Card Type</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType" class="form-select">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                                <div *ngIf="billingAddressZipcode?.invalid && (billingAddressZipcode?.dirty || billingAddressZipcode?.touched)"
                                    class="my-2">
                                    <div *ngIf="creditCardType?.errors?.['required']" class="text-danger"
                                        style="font-size: 14px;">
                                        Card Type is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Name on Card</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text" class="form-control">
                                <div *ngIf="creditCardNameOnCard?.invalid && (creditCardNameOnCard?.dirty || creditCardNameOnCard?.touched)"
                                    class="my-2">
                                    <div *ngIf="creditCardNameOnCard?.errors?.['required'] || creditCardNameOnCard?.errors?.['notOnlyWhitespace']"
                                        class="text-danger" style="font-size: 14px;">
                                        Name on Card is required
                                    </div>
                                    <div *ngIf="creditCardNameOnCard?.errors?.['minlength']" class="text-danger"
                                        style="font-size: 14px;">
                                        Name on Card must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Card Number</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text" class="form-control">
                                <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)"
                                    class="my-2">
                                    <div *ngIf="creditCardNumber?.errors?.['required']"
                                        class="text-danger" style="font-size: 14px;">
                                        Card Number is required
                                    </div>
                                    <div *ngIf="creditCardNumber?.errors?.['pattern']" class="text-danger" style="font-size: 14px;">
                                        Card Number must be 16 digits long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Security Code</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text" class="form-control">
                                <div *ngIf="creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || creditCardSecurityCode?.touched)" class="my-2">
                                    <div *ngIf="creditCardSecurityCode?.errors?.['required']" class="text-danger" style="font-size: 14px;">
                                        Security Code is required
                                    </div>
                                    <div *ngIf="creditCardSecurityCode?.errors?.['pattern']" class="text-danger" style="font-size: 14px;">
                                        Security Code must be 3 digits long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Expiration Month</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth" class="form-select">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{ month }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Expiration Year</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()"
                                    class="form-select">
                                    <option *ngFor="let year of creditCardYears">
                                        {{ year }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <p><b>Total Quantity: {{ totalQuantity }}</b></p>
                    <p><b>Shipping: FREE</b></p>
                    <p><b>Total Price: {{ totalPrice | currency: 'USD'}}</b></p>
                </div>

                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>

            </form>



        </div>
    </div>
</div>